.Form {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  text-align: left;
  padding: 2rem 4rem;
}
.Form-title {
  color: #282c34;
  font-size: 3rem;
}
.Form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 2rem;
  margin: 1rem 0;
}
.Form-row label {
  display: flex;
  width: 30%;
  align-self: center;
}
.Form-row input:not([type="checkbox"]):not([type="radio"]),
.Form-row select {
  display: flex;
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.Form-row input[type="radio"] {
  align-self: center;
  margin: 0 1rem;
}
.Form-row input[type="radio"] + span {
  align-self: center;
}
.Form-submit {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}