.TradeRow-button {
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button;
  -ms-appearance: button;
	font-weight: 400;
	color: #007bff;
	background-color: transparent;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}