.FilterBar {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.FilterBar-header {
	display: flex;
	flex-direction: row;
  border: 1px solid #d9dadb;
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: #f0f1f2;
  padding: 0 2rem;
}
.FilterBar-body {
	display: flex;
	flex-direction: row;
  border: 1px solid #d9dadb;
	border-radius: 0 0 0.3rem 0.3rem;
	background-color: #f8f9fa;
	border-top: 0;
  padding: 1rem 2rem;
}
.FilterBar-button {
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button;
  -ms-appearance: button;
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #007bff;
	padding: 0.375rem 0.75rem;
	margin: 0 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.FilterBar-select {
	display: inline-block;
	height: 2rem;
	margin: 0 1rem;
	padding: 0.5rem 1rem;
	color: #202529;
	font-size: 1rem;
	font-weight: lighter;
	line-height: 1.5;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.3rem;
}