.TradeList {
	height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
	text-align: left;
	padding: 2rem 4rem;
}

.TradeList-title {
  color: #282c34;
	font-size: 3rem;
}

.TradeList-button {
		cursor: pointer;
		-webkit-appearance: button;
		-moz-appearance: button;
		-ms-appearance: button;
		font-weight: bold;
		color: green;
		background-color: transparent;
		float: right;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid green;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
}