.TradeTable {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
	margin: 1rem 0;
	overflow: scroll;
}
table {
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
}
th, td {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
tbody tr:nth-child(odd) {background-color: #f2f2f2;}